*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header_section
{
    background: url(./images/headerSectionBackground.png);
    background-size:cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
}
.navbar_menu_group{
    display: flex;
    gap:20px;

}
.navbar_menu_group .user_icon{
    height: 22px;
    width: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 100%;
    display: none;
}
.header_section_group
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: calc(60vh - 65px);
}
.header_section_logo{
    height:50px ;
    width: auto ;
}
.header_section_title{
    text-align: center;
    font-size: 40px;
    font-weight: 300; 
}
.header_section_input_group{
    background-color:white;
    display: flex;
    padding:9px ;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 13px;
}
.header_section_input_search, .header_section_input_location{
    padding: 7px;
    border: none;
    outline: none;

}
.header_section_input_search{
width: 65%;
border-left:2px solid whitesmoke;
}
.header_section_input_location{
width: 33%;

}
.cards_group{
    margin: 1rem auto;
    width: 95%;
}
.offer{
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   align-items: center;
   justify-content: center; 
}
.offer_cards{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    transition: all 1s ease;
    margin-right: 12px;

}
.offer_cards:hover{
    transform: scale(1.05);
}
.offer_cards img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;

}
.offer_content{
    padding: 10px;
}
.offer_content h2{
  font-size: 20px;
  font-weight: 500;
}
.offer_content p{
    font-size: 14px;
}
/*Collections cards */
.collection h1{
         font-weight: 500;
}
.collection .sub-heading_group{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
}
.sub-heading_group span:nth-child(2)
{
    color: palevioletred;
    font-size: 14px;
    cursor: pointer;
}
.collections_cards_group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.3rem;
}
.collections_cards_group .cards{
    height: 320px;
    min-width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.card1{
    background-image: url(images/collection1.jpg);
}
.card2{
    background-image: url(images/collection2.jpg);
}
.card3{
    background-image: url(images/collection3.jpg);
}
.card4{
    background-image: url(images/collection4.jpg);
}
.overlay{
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       border-radius: 10px;
       background: linear-gradient(
       120deg,
        rgba(225, 0, 0, 1) 0%,
        rgba(225, 0, 0, 1) 85%,
    );
   
}
.collections_cards_group .cards .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: antiquewhite;
    padding: 12px 15px;
    font-size: 0.9rem;
}
.content h4{
    font-weight: 400;
    letter-spacing: 0.8px;
}
.download_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    padding: 1rem 6rem;
}
.download_app .semigroup{
width: 60%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 1.4rem;
}
.download_app .semigroup .left{
    flex: 2;
}
.download_app .semigroup .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.download_app .semigroup .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right h1{
    font-weight: 200;
    font-size: 1.7rem;
}
.right p{
    font-size: 1rem;
}
.right .radio_button_group{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.right .radio_button_group div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.right .radio_button_group div input{
    height: 13px;
    width: 13px;
    accent-color: rgb(250, 9, 89);
}
.right .input_button_group{
    display: flex;
    gap: 0.8rem;
}
.input_button_group button,input{
    padding: 10px 14px;
}

.input_button_group input{
    flex: auto;
    border: 2px solid grey;
    outline: none;
    border-radius: 8px;
}
.input_button_group button{
    border: none;
    background-color: #fc0060;
    color: azure;
    border-radius: 8px;
    cursor: pointer;
}
.right .download_app_container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.right .download_app_container h5{
    font-weight: 100;
    color: grey;
}
.right .download_app_container div{
    display: flex;
    gap: 1rem;
}
.right .download_app_container img{
    width: 40%;
}

h1.explore_heading1 {
	margin-bottom: 30px;
	color: black;
} 

h2.explore_heading2 {
	margin-bottom: 20px;
	color: black;
}
.dropdown {
	margin-bottom: 100px;
}

.dropdown a {
	font-size: 16px;
	color: grey;
	text-decoration: none;
	margin-right: 8px;
	line-height: 1.8;
}

.dropdown .dot_gap {
	display: inline-block;
	height: 3px;
	width: 3px;
	background-color: #828282;
	border-radius: 50%;
	margin-bottom: 3px;
	margin-right: 8px;
}

.cities {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-top: 30px;
	margin-bottom: 100px;
}

.cities ul li{
	list-style: none;
	margin-bottom: 20px;
}

.cities ul li a {
	font-size: 16px;
	color: rgb(172, 172, 172);
	text-decoration: none;
}

.cities ul li a:hover {
	color: #302d2d;
}

.cities ul li a.last_link {
	color: #080808;
	padding-bottom: 5px;
	border-bottom: 1px solid #1c1c1c;
	font-weight: 600;
}
/* footer section */
.footer{
    width: 100%;
}
.footer_part1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.footer_part1 img{
    width: 120px;
}
.part1_buttonConatiner{
    display: flex;
    gap: 1.5rem;
}
.part1_buttonConatiner button{
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 7px;
    background-color: white;
    display: flex;align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.navigation_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}
.links_container{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.links_container h5{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.9px;
}
.footer_link{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 300;
}
.footer_link:hover{
    color: black;
}
.links_container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    color: antiquewhite;
    cursor: pointer;
}
.links_container button i{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_app_logos{
    width: 120px;
}
.disclamer{
    width: 95%;
    font-size: 12px;
    color: gray;
    margin: auto;
    border-top: 4px solid lightgrey;
    padding-top: 1.5rem;

}
@media screen and (max-width: 1300px) {
    .download_app .semigroup .left,.download_app .semigroup .right{
        flex: 1;
    }
    .download_app .semigroup{
        width: 80%;
    }
}
@media screen and (max-width: 900px) {
    .download_app {
        padding: 2rem;
    }
    .download_app .semigroup{
        width: 95%;
        flex-direction: column;
    }
}
@media screen and (max-width: 550px){
    .navbar_menu_group .user_icon{
        display: flex;
}
.navbar_menu_group .headerlink{
    display: none;
}
.header_section{
    min-height: 70vh;
}
.header_section_group{
     flex-direction: column;
     background-color: transparent;
     width: 100%;
}
.header_section_input_location,.header_section_input_search{
padding: 20px;
border-radius: 15px;
width: 95%;
}
.header_section_group{
    height: calc(70vh-65px);
}
.header_section_title{
    font-size: 20px;
    width: 95%;
}
}
